@import url("https://onkofonko.github.io/theme/fixedsource.css");
@import url("https://onkofonko.github.io/theme/fixes.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css");

:root {
    /*My Account Button*/
    --username-button-width: 128px; /* Adjust the with of the username button to match your discord username lenght */
    --username-button-padding: 6px; /* Padding for the username button */
    --username-button-right-margin: 0px; /* Width between the username button and the window controls */

    /*Server List*/
    --server-icon-size: 32px;  /* Size of the server icons */
    --server-outer-margin: 14px;  /* Spacing between the edge of the container and the server icons.*/
    --server-spacing: 8px;  /* Spacing between each server icon*/

    /*Server Info Bar*/
    --app-info-bar-height: 40px; /* Height for container that holds the server name, info, actions and search */

    --server-container:calc(var(--server-size) + (var(--server-outer-margin, 14px) + 5px)) !important;
}

#app-mount .guilds_a4d4d9 [class*=expandedFolderBackground] {
    left: 5px !important;
    transform: unset !important;
}
#app-mount .guilds_a4d4d9 [class*=listItem]:not([class*=listItemWrapper]) {
    margin:0px 5px;
}
#app-mount .winButton_a934d8 {
    top: 10px;
}
